body{
<<<<<<< HEAD
  background-image: url("black.jpeg");
  height: 200px;
  float: none;
}
h1{
  background-image: url("vert.jpg");
=======
  background-color: #DAC79C;
}
h1{
  background-color: maroon;
>>>>>>> 319cceec326bb43db5452008caa8614679986ecf
  float: none;
  text-align: center;
  color:white;
  margin: auto;
  font-style: oblique;
  height: auto;
  margin-top:-6px;
<<<<<<< HEAD
  height: 180px;
}
.text{
  text-align: center;
  background-color: #DAC79C;
  margin-top: 40px;
  height: 290px;
}
.text3{
  text-align: center;
  background-color: #DAC79C;
  margin-top: 40px;
  height: 320px;
}
p strong{
  text-align: center;
  font-size: 50px;
=======
  height: 80px;
}
.text{
  text-align: center;
}
p strong{
  text-align: center;
  font-size: 30px;
>>>>>>> 319cceec326bb43db5452008caa8614679986ecf
  font-style: italic;
  color: #A9A9A9;
}
a {
  color:white;
  font-size: 15px;
}
img{
  float: right;
<<<<<<< HEAD
  margin-top: 40px;
  height: 280px;
  width: 300px;
  border-radius: 8px;
=======
  margin-top: 30px;
  height: 500px;
  width: 300px;
>>>>>>> 319cceec326bb43db5452008caa8614679986ecf
}
#text1{
  font-size: 20px;
  text-align: center;
<<<<<<< HEAD
  background-color: #DAC79C;
} 
#text3{
  text-align: center;
  font-size: 40px;
}
.info{
  font-size: 30px;
}
.text{
  font-size: 20px;
}

.center{
  display:block;
  margin-left: auto;
  margin-right: 580px;
  align-self: center;
  margin-bottom: 20px;
  height: 100px;
  width: 120px;
  float: 20px;
   border-radius: 8px;
}
#image2{
  align-self:center;
  width: 800px;
}
h1 button a{
  border-color: silver;
  color:black;
}
button{
  width: 110px;
  height: 50px;
  margin-top: 50px;
}
h1 strong{
  font-size: 50px;
  
}
#image3{
  align-self:center;
  width: 500px;
}
#image2{
  align-self:center;
  width: 500px;
}
#footer {   
    z-index: 100;  
    text-align:center;
    margin-left: 600px;
    background-color: #20B2AA;
    border: 0;
}
.details{
  font-size: 25px;
 font-family: "Great Vibes",cursive;
 line-height: 50px; 
 font-weight: normal; 
 margin-bottom: 0px; 
 margin-top: 40px; 
 text-align: center; 
 text-shadow: 0 1px 1px #fff;
}
.text5{
  text-align: center;
  background-color: #DAC79C;
  margin-top: 40px;
  height: 90px;
=======
}
.text3{
  text-align: center;
>>>>>>> 319cceec326bb43db5452008caa8614679986ecf
}