body{
  background-color: #DAC79C;
}
h1{
  background-color: maroon;
  float: none;
  text-align: center;
  color:white;
  margin: auto;
  font-style: oblique;
  height: auto;
  margin-top:-6px;
  height: 80px;
}
.text{
  text-align: center;
}
p strong{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #A9A9A9;
}
a {
  color:white;
  font-size: 15px;
}
img{
  float: right;
  margin-top: 30px;
  height: 500px;
  width: 300px;
}
#text1{
  font-size: 20px;
  text-align: center;
}
.text3{
  text-align: center;
}